html {  }
input[type="submit"], input[type="text"], input[type="password"], input[type="file"], textarea { -moz-appearance: none; border-radius: 0px; }
body { margin: 0px; color: rgb(116, 116, 116); min-width: 320px; font: 13px/20px "PTSansRegular",Arial,Helvetica,sans-serif; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
img { border-style: none; vertical-align: top; max-width: 100%; height: auto; }
a { text-decoration: none; color: rgb(51, 51, 51); }
a:hover { color: rgb(160, 206, 78); text-decoration: none; }
input, textarea, select { font: 100% Arial,Helvetica,sans-serif; vertical-align: middle; color: rgb(0, 0, 0); }
form, fieldset { margin: 0px; padding: 0px; border-style: none; }
#header { padding: 0px 10px; }
.avada-row { margin: 0px auto; max-width: 940px; }
.avada-row::after { content: ""; display: block; clear: both; }
#header .logo { float: left; overflow: hidden; margin: 31px 0px 0px; }
#header .logo a { height: 100%; display: block; }
nav#nav { float: right; font: 14px/16px "MuseoSlab500Regular",arial,helvetica,sans-serif; margin-right: -49px; z-index: 99999; }
#nav ul { list-style: outside none none; margin: 0px; padding: 0px; }
#nav ul li { float: left; padding: 0px 49px 0px 0px; margin: 0px; }
#nav ul a, #nav li.current-menu-ancestor a { display: block; height: 83px; line-height: 83px; border-top: 3px solid rgb(255, 255, 255); }
#nav ul .current_page_item a, #nav ul .current-menu-item a, #nav ul > .current-menu-parent a { color: rgb(160, 206, 78); text-decoration: none; border-color: rgb(160, 206, 78); }
#nav ul li { position: relative; }
#nav ul ul { display: none; position: absolute; top: 86px; left: 0px; width: 170px; background: rgb(237, 235, 235) none repeat scroll 0% 0%; border-top: 3px solid rgb(160, 206, 78); z-index: 99999; }
#nav ul li:hover ul { display: block; }
#nav ul li ul li { display: block; float: none; margin: 0px; padding: 0px; }
#wrapper #nav ul li ul li a { background: transparent url("subnav_sep.jpg") repeat-x scroll left bottom; border: 0px none; height: auto; text-indent: 0px; font: 13px/18px "PTSansRegular",Arial,Helvetica,sans-serif; color: rgb(51, 51, 51) ! important; padding: 6px 20px; }
#wrapper #nav ul li ul li a:hover, #wrapper #nav ul li ul li.current-menu-item a { background-color: rgba(255, 255, 255, 0.5); }
#nav select { max-width: 100%; display: none; }
#main { padding: 55px 10px 45px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden ! important; clear: both; }
.columns { overflow: hidden; margin: 0px 0px 80px; }
.columns .col { float: left; width: 23%; padding: 0px 2.66667% 0px 0px; }
.columns-4 .col { width: 23%; padding: 0px 2.66667% 0px 0px; }
.columns-4 .col:nth-child(4n+1) { clear: both; }
.columns-4 .col:nth-child(4n) { padding-right: 0px; }
.columns .col.last { padding: 0px; }
.col p { margin: 0px 0px 23px; }
#main h2 { color: rgb(51, 51, 51); margin: 0px 0px 20px; font: 18px/20px "MuseoSlab500Regular",arial,helvetica,sans-serif; }
.footer-widget-col { margin-bottom: 20px; }
.footer-widget-col:last-child { margin-bottom: 0px; }
.footer-area { border-top: 12px solid rgb(233, 234, 238); background: rgb(54, 56, 57) none repeat scroll 0% 0%; padding: 43px 10px 40px; color: rgb(140, 137, 137); }
.footer-area h3 { margin: 0px 0px 28px; color: rgb(221, 221, 221); text-transform: uppercase; font: 13px/20px "PTSansBold",arial,helvetica,sans-serif; }
.footer-area .columns { margin: 0px; }
.footer-area ul { list-style: outside none none; margin: 0px; padding: 0px; font-size: 12px; line-height: 15px; }
.footer-area ul li { padding: 12px 0px; background: transparent url("bg-line.gif") repeat-x scroll 0% 0%; }
.footer-area ul li:first-child { background: transparent none repeat scroll 0% 0%; padding-top: 0px; }
.footer-area a { text-shadow: 1px 2px 1px rgb(0, 0, 0); color: rgb(191, 191, 191); }
.footer-area ul li a:hover { color: rgb(160, 206, 78); }
#footer { padding: 18px 10px 12px; background: rgb(40, 42, 43) none repeat scroll 0% 0%; border-top: 1px solid rgb(75, 76, 77); }
.copyright { list-style: outside none none; margin: 0px; padding: 0px; float: left; color: rgb(140, 137, 137); font-size: 12px; text-shadow: 1px 2px 1px rgb(0, 0, 0); }
.copyright li { float: left; padding: 0px 9px 0px 10px; background: transparent url("divider-02.gif") no-repeat scroll 0px 50%; }
.copyright li:first-child { padding-left: 0px; background: transparent none repeat scroll 0% 0%; }
.copyright a { color: rgb(191, 191, 191); }
.page-title-container { height: 87px; background-position: center center; background-repeat: no-repeat; background-color: rgb(246, 246, 246); border-top: 1px solid rgb(210, 211, 212); border-bottom: 1px solid rgb(210, 211, 212); display: table; width: 100%; }
.page-title { display: table-cell; vertical-align: middle; width: 940px; margin: 0px auto; overflow: hidden; }
.page-title-wrapper { width: 940px; margin: 0px auto; }
.page-title h1 { float: left; font: 18px/26px "MuseoSlab500Regular",arial,helvetica,sans-serif; color: rgb(52, 51, 51); margin: 0px; padding: 0px; width: 45%; }
.page-title ul { float: right; list-style: outside none none; margin: 0px; padding: 0px; width: 45%; text-align: right; }
.page-title ul li { margin: 0px 5px 0px 0px; padding: 0px; display: inline; color: rgb(51, 51, 51); font-size: 10px; }
.page-title ul li a { color: rgb(51, 51, 51); padding-right: 5px; }
.page-title ul li::after { content: "/"; }
.page-title ul li:last-child::after { content: ""; }
#content { width: 71.1702%; float: left; }
.image { position: relative; overflow: hidden; }
#sidebar { width: 23.4043%; float: right; }
#sidebar .widget { margin-bottom: 45px; position: relative; }
#sidebar .widget h3 { margin: 0px 0px 18px; padding: 0px; font: 13px "MuseoSlab500Regular",arial,helvetica,sans-serif; color: rgb(51, 51, 51); }
#sidebar .widget ul { list-style: outside none none; margin: 0px; padding: 0px; }
#sidebar .widget li { margin: 0px; padding: 0px; }
#sidebar .widget li a, #sidebar .widget .recentcomments, #sidebar .widget_categories li { background: transparent url("arrow-ul.png") no-repeat scroll 0px 16px; display: block; border-bottom: 1px solid rgb(231, 230, 230); color: rgb(131, 131, 131); padding: 10px; }
.post-content p { margin: 0px 0px 20px; }
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { font-family: "MuseoSlab500Regular",arial,helvetica,sans-serif; color: rgb(51, 51, 51); font-weight: normal; }
.alert { padding: 8px; text-align: center; position: relative; }
.alert .msg { padding: 0px 50px; }
.alert .toggle-alert { position: absolute; top: 14px; right: 25px; display: block; text-indent: -10000px; background: transparent url("x-icon.png") no-repeat scroll left top; width: 12px; height: 12px; }
.alert.general { background: transparent url("general-icon.png") no-repeat scroll 25px 8px; border: 1px solid rgb(215, 214, 214); }
.alert.error { background: rgb(255, 233, 233) url("error-icon.png") no-repeat scroll 25px 8px; border: 1px solid rgb(231, 169, 169); color: rgb(208, 69, 68); }
.alert.success { background: rgb(233, 243, 210) url("success-icon.png") no-repeat scroll 25px 8px; border: 1px solid rgb(172, 213, 86); color: rgb(146, 183, 80); }
.alert.notice { background: rgb(251, 246, 227) url("notice-icon.png") no-repeat scroll 25px 8px; border: 1px solid rgb(231, 212, 141); color: rgb(207, 179, 6); }
.highlight1 { background: rgb(246, 246, 122) none repeat scroll 0% 0%; padding: 2px; }
.dropcap { font-size: 62px; margin-right: 6px; padding-top: 11px; text-transform: uppercase; float: left; position: relative; top: 5px; color: rgb(131, 197, 79); padding-bottom: 11px; }
#sidebar .widget_nav_menu li a, #sidebar .widget_categories li a { color: rgb(51, 51, 51) ! important; background: transparent url("arrow-ul.png") no-repeat scroll left center; display: block; border-bottom: 1px solid rgb(231, 230, 230); padding: 10px 10px 10px 0px; text-indent: 10px; }
#sidebar .widget_nav_menu li a, #sidebar .widget_categories li a { display: block; color: rgb(51, 51, 51); }
#sidebar .sub-menu { margin-left: 15px ! important; }
.header-social { line-height: 37px; border-bottom: 1px solid rgb(225, 225, 225); border-top: 4px solid rgb(160, 206, 78); padding: 10px 0px; }
.header-social { padding: 0px; }
.header-social .sep { padding: 0px 6px; }
.header-v5 .header-social { background-color: rgb(160, 206, 78); }
.header-v5 .header-social .alignleft, .header-v5 .header-social .alignleft a, .header-v5 .header-social .alignright .menu li a { color: rgb(255, 255, 255) ! important; }
.header-v5 #header { border-bottom: 1px solid rgb(225, 225, 225); }
.header-v5 #header { padding: 30px 0px; }
.header-v5 #header .logo { margin: 0px; text-align: center; }
.header-v5 #small-nav { border-bottom: 1px solid rgb(225, 225, 225); }
.header-v5 #nav { float: none; }
.header-v5 #nav > ul { float: none; text-align: center; }
.header-v5 #nav > ul > li, .header-v5 #nav > ul > li > a { float: none; display: inline-block; }
.header-v5 #nav > ul ul { text-align: left; }
.header-v5 #nav ul a, .header-v5 #nav li.current-menu-ancestor a { border-top: 0px none; padding-top: 3px; }
.header-v5 #header .logo { float: none ! important; }
