.dc-contact-content .slick-form, .dc-contact-content .slick-form fieldset, .dc-contact-content ol, .dc-contact-content li, .dc-contact-content .slick-form .text-input, .dc-contact-content .slick-form .text-area, .dc-contact-content .slick-form button { margin: 0px; padding: 0px; list-style: outside none none; border: medium none; }
.dc-contact-content .slick-form { padding: 15px; }
.dc-contact-float .dc-contact-content .slick-form { padding: 0px 15px; }
.dc-contact-content .slick-form li { display: block; margin: 0px 0px 5px; position: relative; }
.dc-contact-content .slick-form li.input-row, .dc-contact-content .slick-form li.text-row { padding: 0px 0px 0px 7px; background: transparent url("bg_input.png") no-repeat scroll 0px 0px; }
.dc-contact-content .slick-form li.input-row { height: 32px; }
.dc-contact-content .slick-form li.button-row { text-align: right; padding: 3px 0px; }
.dc-contact-content .slick-form li.comment-row { font-size: 12px; line-height: 16px; padding: 3px 0px; }
.dc-contact-content .slick-form li.nocomment { display: none; }
.dc-contact-content .slick-form .text-input, .dc-contact-content .slick-form .text-area { color: rgb(0, 0, 0); font: 12px Arial,sans-serif; background: transparent url("bg_input.png") no-repeat scroll 100% 0px; width: 100% ! important; }
.dc-contact-content .slick-form .text-input { padding: 0px; height: 32px; }
.dc-contact-content .slick-response { display: none; text-align: center; }
