@media only screen and (max-width: 700px) {
  #wrapper { width: auto ! important; }
  #main { padding-bottom: 50px; }
  .columns .col { float: none; width: 100%; padding: 0px 0px 20px; }
  .footer-area .columns .col { float: left; width: 98%; padding: 0px 2% 20px 0px; }
  .social-networks, .copyright { float: none; padding: 0px 0px 15px; text-align: center; }
  .copyright::after, .social-networks::after { content: ""; display: block; clear: both; }
  .social-networks li, .copyright li { float: none; display: inline-block; }
  .page-title { width: auto; padding-left: 10px; padding-right: 10px; padding-top: 18px; }
  .page-title-wrapper { width: auto; }
  .page-title h1 { float: none; }
  .page-title ul { float: none; text-align: left; padding-top: 0px ! important; line-height: 11px ! important; }
  #header { padding: 20px; }
  #header .logo { float: none; text-align: center; margin: 0px 0px 20px; }
  .nav-holder ul { display: none; }
  .nav-holder select { display: block ! important; width: 100%; }
  #content { width: 100%; float: none; margin-bottom: 50px; }
  #sidebar { width: 100%; float: none; }
  .page-title h1 { margin-top: 0px; margin-bottom: 5px; }
  .page-title h1, .page-title ul { float: none; line-height: normal; width: 100%; }
  nav#nav { margin-right: 0px; }
  .page-title-container { height: auto; max-height: 87px; padding-bottom: 20px; }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #wrapper { width: auto ! important; }
  #main { padding-bottom: 50px; }
  .columns .col { float: none; width: 100%; padding: 0px 0px 20px; }
  .footer-area .columns .col { float: left; width: 98%; padding: 0px 2% 20px 0px; }
  .social-networks, .copyright { float: none; padding: 0px 0px 15px; text-align: center; }
  .copyright::after, .social-networks::after { content: ""; display: block; clear: both; }
  .social-networks li, .copyright li { float: none; display: inline-block; }
  .page-title { width: auto; padding-left: 10px; padding-right: 10px; padding-top: 18px; }
  .page-title-wrapper { width: auto; }
  .page-title h1 { float: none; }
  .page-title ul { float: none; text-align: left; padding-top: 0px ! important; line-height: 11px ! important; }
  #header { padding: 20px; }
  #header .logo { float: none; text-align: center; margin: 0px 0px 20px; }
  .nav-holder ul { display: none; }
  .nav-holder select { display: block ! important; width: 100%; }
  #content { width: 100%; float: none; margin-bottom: 50px; }
  #sidebar { width: 100%; float: none; }
  .page-title h1 { margin-top: 0px; margin-bottom: 5px; }
  .page-title h1, .page-title ul { float: none; line-height: normal; width: 100%; }
  nav#nav { margin-right: 0px; }
  .page-title-container { height: auto; max-height: 87px; padding-bottom: 20px; }
  .header-social { padding-top: 10px; }
  .header-v5 .header-social .alignleft { width: 100%; margin: -15px 0px 0px; text-align: center; }
  .header-v5 .header-social .alignright { width: 100%; margin: 0px; text-align: center; }
  .header-v5 .header-social { padding-bottom: 0px; }
  .header-v5 #small-nav { padding: 6px 20px; }
  .header-v5 #small-nav #nav { width: 100%; }
}
@media only screen and (max-width: 479px) {
  .logo { float: none; margin: 20px auto; }
  #nav { float: none; overflow: hidden; font-size: 12px; text-align: center; }
  #nav ul li { float: none; margin: 0px 5px; display: inline-block; }
  #nav ul a { padding: 5px 0px; border: 0px none ! important; }
  .avada-container .columns .col, .footer-area .columns .col { float: none; width: 100%; }
  .review blockquote cite strong, .copyright li {  }
}
@media only screen and (max-width: 319px) {
}
