.ngg-galleryoverview { overflow: hidden; margin-top: 10px; width: 100%; clear: both; display: block ! important; }
.ngg-gallery-thumbnail-box { float: left; max-width: 100% ! important; }
.ngg-gallery-thumbnail { text-align: center; max-width: 100% ! important; background-color: rgb(255, 255, 255); border: 1px solid rgb(169, 169, 169); margin: 5px; }
.ngg-gallery-thumbnail a { display: block; margin: 4px; border: medium none; box-shadow: none; }
.ngg-gallery-thumbnail img { display: block; margin: 0px; padding: 0px; position: relative; max-width: 100% ! important; height: auto; }
.ngg-galleryoverview { margin-top: 40px; margin-bottom: 50px; transition: width 1s ease 0s, height 1s ease 0s, background-color 1s ease 0s, transform 1s ease 0s; min-height: 100px; }
@media (max-width: 800px) {
}
@media (max-width: 600px) {
}
@media (max-width: 400px) {
}
