@import url("all.css");
@media screen and (max-width: 860px) {
}
.alignleft { display: inline; float: left; margin-right: 15px; }
.alignright { display: inline; float: right; margin-left: 15px; }
.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
@media screen and (max-width: 830px) {
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype");
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@media not all, not all, only screen and (min-resolution: 120dpi) {
  #sidebar .widget_nav_menu li a, #sidebar .widget_categories li a, .read-more, #sidebar .widget .recentcomments, #sidebar .widget_meta a, #sidebar .widget_archive a, #sidebar .widget_recent_entries a, #sidebar .widget_links a, #sidebar .widget_pages a { background-image: url("arrow-ul@2x.png") ! important; background-size: 5px 8px; }
  .general { background-image: url("general-icon@2x.png") ! important; background-size: 19px 20px; }
  .error { background-image: url("error-icon@2x.png") ! important; background-size: 24px 19px; }
  .success { background-image: url("success-icon@2x.png") ! important; background-size: 19px 23px; }
  .notice { background-image: url("notice-icon@2x.png") ! important; background-size: 22px 22px; }
  .alert .toggle-alert { background-image: url("x-icon@2x.png") ! important; background-size: 12px 11px; }
}
