.ngg-widget, .ngg-widget-slideshow { overflow: hidden; margin: 0pt; padding: 5px 0px 0px 0pt; text-align: left; }
.ngg-widget img { border: 2px solid rgb(169, 169, 169); margin: 0pt 2px 2px 0px; padding: 1px; height: auto; float: left; }
